html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: radial-gradient(#68A7AD,#EFEFEF);
}

.text-color-theme{
	color: #0F0E0E;
}

.icon-bar {
	width: 90px; /* Set a specific width */ /* Dark-grey background */
}
  
.icon-bar a {
	display: block; /* Make the links appear below each other instead of side-by-side */
	text-align: center; /* Center-align text */
	padding: 16px; /* Add some padding */
	transition: all 0.3s ease; /* Add transition for hover effects */
	color: #0F0E0E; /* White text color */
	font-size: 36px; /* Increased font-size */
	border-radius: 50px;
}
  
.icon-bar a:hover {
	background-color: #54BAB9; /* Add a hover color */
}
  
