html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: radial-gradient(#68A7AD,#EFEFEF);
}

.text-color-theme{
	color: #0F0E0E;
}

.icon-bar {
	width: 90px;
}
  
.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: #0F0E0E;
	font-size: 36px;
	border-radius: 50px;
}
  
.icon-bar a:hover {
	background-color: #54BAB9;
}
  
@media only screen and (max-width: 550px) {
	.footer-box {
		position: fixed;
  		left: 12%;
  		bottom: 0;
		width: 100%;
		text-align: center;
	}
	.icon-bar {
		width: 100%;
	}
	  
	.icon-bar a {
		float: left;
		text-align: center;
		width: 20%;
		padding: 12px 0;
		transition: all 0.3s ease;
		color: #0F0E0E;
		font-size: 36px;
	}
	  
	.icon-bar a:hover {
		background-color: #54BAB9;
	}
}